body,
input,
button {
    padding: 0px;
    margin: 0px;
    outline: none;
}



.input-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

.input-group input {
    padding: 10px 15px;   
    min-width: 60px;
    border-radius: 4px;
}

.icons {
    display: flex;
}

.add-icon,
.remove-icon {
    color: gray;
    border: 1px solid gray;
    padding: 5px 10px;
    margin: 0px 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.btn {
  padding: 7px 15px;
  background: green;
  color:white;
  border: 1px solid gray;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 4px;
}

form {
  margin-top: 30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }